<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/show" method="post">
    <h1>Введіть дані</h1>
    <label for="employee_id">employee id</label>
    <input type="number" id="employee_id" name="employee_id"><br>
    <label for="first_name">First name</label>
    <input type="text" id="first_name" name="first_name"><br>
    <label for="last_name">Last name</label>
    <input type="text" id="last_name" name="last_name"><br>
    <label for="Email">Email</label>
    <input type="email" id="Email" name="Email"><br>
    <label for="phone_number">phone number</label>
    <input type="text" id="phone_number" name="phone_number"><br>
    <label for="hire_date">Hire Date</label>
    <input type="date" id="hire_date" name="hire_date"><br>
    <label for="job_id">Job ID</label>
    <input type="number" id="job_id" name="job_id"><br>
    <label for="salary">Salary</label>
    <input type="number" id="salary" name="salary"><br>
    <label for="commission_pct">commission pct</label>
    <input type="number" id="commission_pct" name="commission_pct"><br>
    <label for="manager_id">manager id</label>
    <input type="number" id="manager_id" name="manager_id"><br>
    <label for="department_id">department id</label>
    <input type="number" id="department_id" name="department_id"><br><br>
    <button type="submit">Відправити</button>

</form>

</body>
</html>